<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设置头像</title>
</head>
<body>
    <?php view('common.nav') ?>
    <h1>设置头像</h1>

    <form action="/user/setavatar" method="post" enctype="multipart/form-data">
        <?=csrf_field()?>
        <div>
            选择头像:
            <input type="file" name="avatar">
        </div>
        <div>
            <input type="submit" value="上传">
        </div>
    </form>

    <?php view('common.footer') ?>
</body>
</html>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<script>
    var img = document.getElementById('img');
    img.onchange = function(){

        // 获取选中的第一张图片
        var img1 = this.files[0];
        // 获取这张图片的尺寸
        var fileSize = img1.size;

        // 每块的尺寸
        var perSize = 4096; 

        // 计算一下总的块数
        var count = Math.ceil(fileSize / perSize);

        for(var i=0;i<count; i++)
        {
            var img0 = img1.slice(i*perSize, i*perSize+perSize)
            // 创建一个 FormData 对象
            var f = new FormData();
            // 加入到表单中
            f.append('img', img0);      // 图片数据
            f.append('count', count);   // 总的块数
            f.append('i', i);       // 当前图片是第几块
            // 上传的服务器
            $.ajax({
                type:"POST",
                url:"/user/uploadbig",
                data:f,
                contentType: false,
                processData: false,
                success:function(data){

                }
            });
        }

    }
</script>